<div class="theme-form-container">
  <div class="form-header">
    <%= simple_form_for @theme do |f| %>
      <%= f.input :name %>
      <%= f.input :study_duration %>
      <%= f.input :video, collection: Theme::VIDEOS %>
      <div class="text-center">
        <%= f.button :submit, "Create theme", class:"primary-button w-75 mb-3" %>
      </div>
    <% end %>
  </div>
</div>
