<div class="navbar">
    <%= link_to "Deepwork.", root_path, class: "navbar-brand" %>
    <div class="header">
      <%= link_to "Cunt", root_path, class: "navbar-header" %>
      <%= link_to "How it Works", root_path, class: "navbar-header" %>
      <%= link_to "Ressources", root_path, class: "navbar-header" %>
    </div>
    <div class="login">
      <%= link_to "Login", new_user_session_path, class: "nav-login" %>
      <%= link_to "Sign up", new_user_session_path, class: "nav-sign-up" %>
    </div>
</div>
