<div class="stats-container-2">
  <div class="xp-container" data-controller="xp">
    <div class="stats-bar">
      <p class="progress-text-2">Your total Deepwork time is <%= current_user.duration %> minutes</p>
      <div class="progress">
      <p id="next-level"><%= current_user.duration %></p>
        <div class="progress-fill-1-new" id="progress" data-minutes="<%= current_user.duration %>" data-level="<%= current_user.current_level %>">
        </div>
      </div>
      <p class="progress-bar-text"> Level <%= current_user.current_level %></p>
    </div>
    <div>
      <h4><%= @week_sessions %> Deepwork sessions this week</h4>
      <h4> <%= @week_minutes %> Deepwork minutes this week </h4>
    </div>
    <%# Create new chart for daily minutes and session amounts %>
    <div class="chart">
      <%= column_chart current_user.study_sessions.group_by_day_of_week(:created_at, format: "%a").sum(:duration), colors: ["#d4af37"], ytitle: "Deepwork minutes" %>
      <p class="text-center"><%= current_user.daily_session_total_time %> Minutes today</p>
    </div>


     <div class="chart">
      <%= line_chart @number_of_sessions, colors: ["#d4af37"], ytitle: "Deepwork sessions" %>
      <p class="text-center"> <%= current_user.daily_sessions %> Sessions Today</p>
    </div>
  </div>
</div>
