<div class="stats-container-2">
  <div class="xp-container" data-controller="xp">
    <div class="stats-bar">
      <p class="progress-text-2">Your total Deepwork time is <%= current_user.duration %> minutes</p>
      <div class="progress">
      <p id="next-level"><%= current_user.duration %></p>
        <div class="progress-fill-1-new" id="progress" data-minutes="<%= current_user.duration %>" data-level="<%= current_user.current_level %>">
        </div>
      </div>
      <p class="progress-bar-text"> Level <%= current_user.current_level %></p>
    </div>
    <div>
      <h4 class="text-center"> <%= @week_minutes %> Deepwork minutes this week </h4>
    </div>
    <%# Create new chart for daily minutes and session amounts %>
    <div class="chart">
      <%= column_chart current_user.study_sessions.group_by_day_of_week(:created_at, format: "%a").sum(:duration), colors: ["#0f8b8b"], ytitle: "Deepwork minutes", max: 300 %>
      <%# <p class="text-center"><%= current_user.daily_session_total_time %>
    </div>
<br>
<br>

     <div class="chart">
      <h4 class="text-center"><%= @week_sessions %> Deepwork sessions this week</h4>
      <%= line_chart @number_of_sessions, colors: ["#0f8b8b"], ytitle: "Deepwork sessions", max: 10 %>
      <%# <p class="text-center"> <%= current_user.daily_sessions %>
    </div>
  </div>
</div>
