
<%= render "shared/final_land_nav" %>


<section class="hero-2">
  <div class="container-h">
    <div class="hero-container-d">
      <%# <h1>Deepwork.</h1> %>
      <div class="left-hero">
        <h1>Get shit done.</h1>
        <p><span>Construct your atmosphere</span></p>
        <div class="cta">
           <p><%= link_to "Quickstart", quickstart_path, class:"button-home" %></p>
        </div>
      </div>
      <div class="right-hero">
      </div>
    </div>
  </div>
</section>




<%# About Section %>
<section class="about">
  <div class="container">
    <div class="explain-container">
      <div class="how-it-works">
        <h3>How to use Deepwork.</h3>
      </div>
      <div class="columns">
        <div class="left">
          <h4><span>1</span> Choose a template for your session</h4>
          <div class="cards">
            <%= render "shared/template_card" %>
          </div>
        </div>
        <div class="right">
          <h4><span>2</span> Select your session intention and timeframe</h4>
          <div class="timer">
            <%= render "components/countdown_timer", opacity: 0.8 %>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="left">
          <h4><span>3</span> Begin your customized session</h4>
          <div class="small-container">
            <div class="content-container">
              <div class="template-card-landing" id="card-1">
              </div>
            </div>
          </div>
        </div>
          <h4><span>4</span> Once complete, see your session stats</h4>
          <div class="cards">
            <%# <%= render "components/stats_card" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "shared/footer" %>
