<%# Landing Nav %>
<section class="hero">
  <div class="navbar">
    <%= link_to "Deepwork.", root_path, class: "navbar-brand" %>
    <div class="header">
      <%= link_to "Cunt", profile_path, class: "navbar-header-landing" %>
      <%= link_to "How it Works", root_path, class: "navbar-header-landing" %>
      <%= link_to "Ressources", root_path, class: "navbar-header-landing" %>
    </div>
    <% if user_signed_in? %>
    <div class="login">
      <%= link_to "Profile", profile_path, class: "nav-login-landing" %>
      <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete},
      class: "dropdown-item nav-sign-up-landing" %>
    </div>
    <% else %>
    <div class="login">
      <%= link_to "Login", new_user_session_path, class: "nav-login-landing" %>
      <%= link_to "Sign up", new_user_registration_path, class: "nav-sign-up-landing" %>
    </div>
     <% end %>
</div>


<%# Container content %>

  <div class="container">
    <div class="hero-container">
      <h1>Deepwork.</h1>
      <p>construct your atmosphere to <span>get shit done.</span></p>
      <div class="cta">
        <%= link_to quickstart_path do  %>
          <%= render "components/secondary_button" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%# About Section %>
<section class="about">
  <div class="container">
    <div class="explain-container">
      <div class="how-it-works">
        <h3>How it Works</h3>
      </div>
      <div class="columns">
        <div class="left">
          <h4><span>1</span> Choose a template for your session</h4>
          <div class="cards">
            <%= render "shared/template_card" %>
          </div>
        </div>
        <div class="right">
          <h4><span>2</span> Select your session intention and timeframe</h4>
        </div>
      </div>
      <div class="columns">
        <div class="left">
          <h4><span>3</span> Begin your customized session</h4>
        </div>
        <div class="right">
          <h4><span>4</span> Once complete, see your session stats</h4>
          <div class="cards">
            <%= render "components/stats_card" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
