<% if user_signed_in? %>
  <%= render "shared/navbar_logged_in" %>
<% else %>
  <%= render "shared/navbar_logged_out" %>
<% end %>


<div class="profile-container">
  <div class="p-column-container">
    <div class="right-p">
      <p class="profile_quote"><span>Hello,</span></p>
       <%= render"components/stats_card" %>
    </div>
    <div class="left-p">
      <%= link_to study_session_path(:id) do %>
       <div class="quickstart"> <%= render "components/primary_button_profile" %></div>
      <% end %>
        <%= render "shared/topic_list" %>
    </div>
  </div>
</div>
 