
  <% if user_signed_in? %>
  <%= render "shared/navbar_logged_in" %>
  <% else %>
  <%= render "shared/navbar_logged_out" %>
  <% end %>
<div class="hub-container">
  <div class="profile-left">
    <div>
      <%= render "shared/template_card" %>
    </div>
    <div>
      <%= render "components/stats_card" %>
    </div>
  </div>

  <div class="profile-right">
    <div class="button-flex">
      <%= render "components/primary_button" %>
    </div>
    <div>
      <%= render "shared/task_list" %>
    </div>
  </div>
</div>

