
<div class="page-container">
  <div class="left-p">
      <div class="title-corner">
        <h4><%= link_to "Deepwork.", root_path %></h4>
      </div>
      <div class="profile-bar">
        <%# <p class="avatar"></p> %>
        <h4> <%= current_user.first_name.capitalize %> </h4>
        <p> Level <%= current_user.current_level %> </p>
      </div>
      <div class="tabs" data-controller="tab">
        <nav class="nav flex-column" id="v-pills-tab" role="tablist"  aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-stats-tab" data-bs-toggle="pill" data-bs-target="#v-pills-stats" role="tab" aria-controls="v-pills-stats" aria-selected="true"href="#">Stats</a>
          <%# <a class="nav-link" id="v-pills-sessions-tab" data-bs-toggle="pill" data-bs-target="#v-pills-sessions" role="tab" aria-controls="v-pills-messages" aria-selected="false"href="#">Sessions</a> %>
          <a class="nav-link" id="v-pills-templates-tab" data-bs-toggle="pill" data-bs-target="#v-pills-templates" role="tab" aria-controls="v-pills-templates" aria-selected="false"href="#">Templates</a>
          <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"href="#">Messages</a>
          <%# <a class="nav-link" id="v-pills-topics-tab" data-bs-toggle="pill" data-bs-target="#v-pills-topics" role="tab" aria-controls="v-pills-topics" aria-selected="false"href="#">Topics</a> %>
          <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"href="#">Settings</a>
        </nav>
      </div>
    </div>
  <div class="profile-container">
    <div class="template-container">
      <div class="header-p">
        <h3>Environments</h3>
        <div>
        <%= render "shared/session_end_form" %>
        </div>
        <%= link_to theme_study_sessions_path(@themes.third), data: { turbo_method: :post} do %>
          <div class="start"> <%= render "components/primary_button_profile" %></div>
        <% end %>


      </div>


      <div class="environments">
          <%= render "shared/template_card_profile" %>
      </div>
    </div>


    <div class="p-column-container" data-controller="tab">
      <div class="center-p tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-stats" role="tabpanel" aria-labelledby="v-pills-stats-tab"> <%= render "shared/stats_new" %> </div>
        <div class="tab-pane fade" id="v-pills-sessions" role="tabpanel" aria-labelledby="v-pills-sessions-tab">sessions</div>
        <div class="tab-pane fade" id="v-pills-templates" role="tabpanel" aria-labelledby="v-pills-templates-tab"> <%= render "shared/theme_tab" %></div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">messages</div>
        <div class="tab-pane fade" id="v-pills-topics" role="tabpanel" aria-labelledby="v-pills-topics-tab">Topic Section: </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">settings</div>
      </div>
      <div class="top-section">
        <%= render "shared/topic_list" %>
      </div>
    </div>
  </div>
</div>
