<% if user_signed_in? %>
  <%= render "shared/navbar_logged_in" %>
<% else %>
  <%= render "shared/navbar_logged_out" %>
<% end %>

<div class="profile_quote_div">
    <p class="profile_quote">Hello <span class="profile_quote_white">Jonathan</span> ; The immature mind hops from one thing to another - the mature mind seeks to follow trough - <span class="profile_quote_white">Marcus Aurelius</span></p>
  </div>

<div class="profile-page">
  <div class="profile_left">
    <div class= "height-100">
      <%= render"components/stats_card" %>

    </div>
  </div>

  <div class="profile_right">
    <div class="button-flex">
      <%= link_to study_session_path(:user_id) do  %>
        <%= render "components/primary_button_profile" %>
      <% end %>
    </div>
    <div>
      <%= render "shared/topic_list" %>
    </div>
  </div>
</div>
